In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer

eda_before = pd.read_csv("../../data/raw/train.csv")
eda_tidy = pd.read_csv("../../data/raw/train.csv")

In [2]:
# drop column 'Names'
eda_tidy = eda_tidy.drop('Name', axis=1)

In [3]:
# convert categorical variable 'Sex' with on-hot encoding
object_cols = ['Sex']

onehot = OneHotEncoder(handle_unknown='ignore', sparse=False)
ohCols = pd.DataFrame(onehot.fit_transform(eda_tidy[object_cols]))
ohCols.index = eda_tidy.index
eda_tidy = eda_tidy.drop(object_cols, axis=1)
eda_tidy = pd.concat([eda_tidy, ohCols], axis=1)

eda_tidy.rename(columns={0: 'Female', 1: 'Male'}, inplace=True)

In [4]:
# impute missing values for variable 'Age' with extension
cols_missing = ['Age']

eda_tidy['Age_was_missing'] = eda_tidy[cols_missing].isnull()

eda_tidy_copy = eda_tidy.copy()

imputer = SimpleImputer()
impCols = pd.DataFrame(imputer.fit_transform(eda_tidy[cols_missing]))
impCols.index = eda_tidy.index
eda_tidy = eda_tidy.drop(cols_missing, axis=1)
eda_tidy = pd.concat([eda_tidy, impCols], axis=1)

eda_tidy.rename(columns={0: 'Age'}, inplace=True)

In [5]:
# drop column 'Ticket'
eda_tidy = eda_tidy.drop('Ticket', axis=1)

In [6]:
# drop column 'Cabin'
eda_tidy = eda_tidy.drop('Cabin', axis=1)

In [7]:
# remove two rows with NaN
eda_tidy = eda_tidy.drop([61, 829])

# convert categorical variable 'Embarked' with on-hot encoding
object_cols = ['Embarked']

onehot = OneHotEncoder(handle_unknown='ignore', sparse=False)
ohCols = pd.DataFrame(onehot.fit_transform(eda_tidy[object_cols]))
ohCols.index = eda_tidy.index
eda_tidy = eda_tidy.drop(object_cols, axis=1)
eda_tidy = pd.concat([eda_tidy, ohCols], axis=1)

eda_tidy.rename(columns={0:'C', 1:'Q', 2:'S'}, inplace=True)

In [8]:
eda_tidy.head()

,PassengerId,Survived,Pclass,SibSp,Parch,Fare,Female,Male,Age_was_missing,Age,C,Q,S
0,1,0,3,1,0,7.2500,0.0,1.0,False,22.0,0.0,0.0,1.0
1,2,1,1,1,0,71.2833,1.0,0.0,False,38.0,1.0,0.0,0.0
2,3,1,3,0,0,7.9250,1.0,0.0,False,26.0,0.0,0.0,1.0
3,4,1,1,1,0,53.1000,1.0,0.0,False,35.0,0.0,0.0,1.0
4,5,0,3,0,0,8.0500,0.0,1.0,False,35.0,0.0,0.0,1.0

In [9]:
eda_before.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
eda_tidy.to_csv("../../data/processed/eda_allData_tidy.csv")